<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/png" href="{{ '/images/favicon.png' | relative_url }}">


    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    <link rel="alternate" type="application/rss+xml" 
          title="{{ site.name }} - {{ site.description }}" 
          href="{{ site.baseurl }}/feed.xml">
  </head>
  <body>
    <!-- your masthead, nav, etc. -->
    <div id="main" role="main" class="container">
      {{ content }}
    </div>
    <!-- footer, analytics, etc. -->
    {% include analytics.html %}
  </body>
</html>
