<!-- _layouts/home.html -->
<!DOCTYPE html>
<html>
  <head>
    {% include meta.html %}
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
  </head>
  <body>
    {% include header.html %}
    
    <!-- THIS is your homepage markup: -->
    <div class="post-hero"></div>
    <div class="container">
      <div class="post-card">
        <!-- breadcrumb, header, search filter, post loop, etc… -->
      </div>
    </div>
    <!-- END homepage markup -->
    
    {% include footer.html %}
  </body>
</html>
